<div class="container" *ngIf="coveredDataList">
  <div class="row">
    <div class="col-sm-4">
      <div class="list-group">
        <a class="list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between align-items-center" [routerLink]="['/covered-data/']" [class.active]="!coveredDataId">
          <strong>Covered Data</strong>
          <span class="badge badge-primary badge-pill">{{ coveredDataList.length }}</span>
        </a>
        <a *ngFor="let data of coveredDataList" class="list-group-item list-group-item-action" [class.active]="coveredDataId === data.id" [routerLink]="['/covered-data/', data.id]">
          {{ data.name }}
        </a>
      </div>
    </div>
    <div class="col-sm" *ngIf="coveredDataId && coveredDataList">
      <app-covered-data-detail [data]="activeCoveredData()"></app-covered-data-detail>
    </div>
    <div class="col-sm" *ngIf="!coveredDataId">
      <h1>Welcome</h1>
      Please choose a Covered Data
    </div>
  </div>
</div>
