<div class="container">
  <header class="py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-12 col-md-8">
        <img class="img-fluid" src="assets/header.png" alt="cwwed header"/>
      </div>
      <div class="col-md-4 text-right">
        <img class="img-fluid" src="assets/header_doc.png" alt="cwwed header corner"/>
      </div>
    </div>
    <div class="row border-bottom m-0"></div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" routerLink="">COASTAL Act</a>
      <button class="navbar-toggler" type="button" (click)="toggleNavCollapse()" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [ngbCollapse]="!isNavCollapsed">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="cwwed" routerLinkActive="active" (click)="navCollapse()">CWWED</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="coastal-act-projects" routerLinkActive="active" (click)="navCollapse()">COASTAL Act Elements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="post-storm-assessment" routerLinkActive="active" (click)="navCollapse()">Post Storm Assessments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="covered-data" routerLinkActive="active" (click)="navCollapse()">Covered Data</a>
          </li>
        </ul>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-secondary" aria-label="User login" id="authenticateButton" ngbDropdownToggle>
            <span class="oi oi-person"></span>
          </button>
          <div ngbDropdownMenu aria-labelledby="authenticateButton">
            <li *ngIf="isLoggedIn()" class="dropdown-item disabled">{{ userName() }}</li>
            <a *ngIf="!isLoggedIn()" href="/accounts/login" class="dropdown-item" title="Log in">
              Sign In
            </a>
            <a *ngIf="isLoggedIn()" href="/accounts/logout" class="dropdown-item" title="Log out">
              Sign Out
            </a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <div class="position-relative" id="router-outlet">
    <ngx-loading [show]="isLoading"></ngx-loading>
    <router-outlet *ngIf="!isLoading"></router-outlet>
  </div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="assets/noaa-logo.svg" alt="noaa logo" width="24" height="24">
        <small class="d-block mb-3 text-muted">CWWED</small>
      </div>
      <div class="col-6 col-md">
        <p class="h5">About</p>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" routerLink="cwwed">CWWED</a></li>
          <li><a class="text-muted" routerLink="coastal-act">The COASTAL Act</a></li>
          <li><a class="text-muted" routerLink="coastal-act-projects">COASTAL Act Projects</a></li>
          <li><a class="text-muted" routerLink="tutorials">Tutorials</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <p class="h5">Features</p>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" routerLink="covered-data">Covered Data</a></li>
          <li><a class="text-muted" routerLink="post-storm-assessment">Post Storm Assessment</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
