boto3==1.11.6
bpython==0.18
celery==4.4.6
# chfchecker - updated version which supports the _Encoding attribute
git+https://github.com/cedadev/cf-checker@4aff368aed350482e8827409ddc302bea95da876
dj-database-url==0.5.0
Django==3.1.3
django-allauth==0.41.0
django-cors-headers==3.2.1
django-crispy-forms==1.8.1
django-filter==2.4.0
django-ratelimit==2.0.0
django-redis-cache==2.1.0
# django-revproxy - use this django 3 compatible version (9.16) which isn't in pypi yet
git+https://github.com/TracyWebTech/django-revproxy.git@4cefe4ae4bf4834a2e1229b92289c2b18e60cff8
django-storages==1.8
djangorestframework==3.12.2
emrichen==0.2.2
flower==0.9.5
geojson==2.5.0
geopandas==0.6.2
gunicorn==20.0.4
h5py==2.10.0
lxml==4.8.0
Markdown==3.1.1
matplotlib==3.3.2
netCDF4==1.5.8
numpy==1.22.3
pandas==1.4.1
Pillow==7.0.0
psycopg2==2.8.4
pytz==2021.3
PyYAML==5.3
redis==3.3.11
requests==2.22.0
scipy==1.4.1
sentry-sdk==0.19.5
Shapely==1.8.1.post1
slacker==0.13.0
uritemplate==3.0.1
whitenoise==5.0.1
xarray==2022.3.0
rasterio==1.2.0
django-invitations==1.9.3
django-debug-toolbar==3.2.4
