boto3==1.11.6
bpython==0.18
celery==4.4.0
cfchecker==4.0.0
dj-database-url==0.5.0
Django==3.0.2
django-allauth==0.41.0
django-cors-headers==3.2.1
django-crispy-forms==1.8.1
django-filter==2.2.0
django-ratelimit==2.0.0
django-redis-cache==2.1.0
django-revproxy==0.9.16
django-storages==1.8
djangorestframework==3.11.0
emrichen==0.2.2
flower==0.9.3
geojson==2.5.0
geopandas==0.6.2
gunicorn==20.0.4
h5py==2.10.0
lxml==4.4.2
Markdown==3.1.1
matplotlib==3.1.2
netCDF4==1.5.3
numpy==1.18.1
pandas==0.25.3
Pillow==7.0.0
psycopg2==2.8.4
Pydap==3.2.2
pytz==2019.3
PyYAML==5.3
redis==3.3.11
requests==2.22.0
scipy==1.4.1
sentry-sdk==0.14.0
Shapely==1.6.4.post2
slacker==0.13.0
uritemplate==3.0.1
whitenoise==5.0.1
xarray==0.14.1
