<div class="jumbotron">
  <h1 class="display-4">The COASTAL Act</h1>
  <p class="lead">The Consumer Option for an Alternative System to Allocate Losses</p>
  <hr class="my-4">
  <p>
    The Consumer Option for an Alternative System to Allocate Losses (COASTAL) Act was signed into law on July 6, 2012.  The purpose of the COASTAL Act is to lower costs to FEMA’s National Flood Insurance Program (NFIP) by better discerning wind versus water damage in the case of “indeterminate losses;” that is, where little tangible evidence beyond a building’s foundation (“slab”) remains for the proper adjustment of insurance claims for homes totally destroyed by a tropical cyclone.

    The COASTAL Act requires NOAA to produce detailed “post-storm assessments” in the aftermath of a damaging tropical cyclone that strikes the U.S. or its territories.  Using output from a hindcast model (termed the “Named Storm Event Model” (NSEM) by the Act), the assessments will indicate the strength and timing of damaging winds and water at a given location in the area impacted by the tropical cyclone.  If the assessment results for the location of a specific “slab” case can be certified by NOAA as being greater than 90 percent accurate, those results will be input into a FEMA-managed formula that considers a variety of factors that may have contributed to structural damage.  Based on this formula, FEMA will determine the appropriate loss allocation between wind and water.

    The Act further requires NOAA to create a “Coastal Wind and Water Event Database” (CWWED) to provide the public access to “covered data” (the observations collected during the storm to assist with the assessment).  The CWWED will serve as the portal through which the gridded post-storm assessment results and metadata will also be accessed by the public.
  </p>
</div>
