<nav aria-label="breadcrumb" *ngIf="storm">
  <ol class="breadcrumb bg-light">
    <li class="breadcrumb-item"><a [routerLink]="['/post-storm-assessment', storm.id]">{{ storm.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Export</li>
  </ol>
</nav>
<div class="card">
  <div class="card-header">
      Post Storm Assessment Export
  </div>
  <div class="card-body">
    <div class="card-text">
      <div>
        You are exporting in the <i>{{ format }}</i> format.
        A download link will be generated here once the export is complete. However, you will also receive an email at <span class="text-info">{{ getUser().email }}</span> with the link so you may leave this page.
      </div>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group d-flex justify-content-end">
          <button class="btn btn-primary">Export</button>
        </div>
      </form>
    </div>
  </div>
</div>
