<nav aria-label="breadcrumb" *ngIf="storm">
  <ol class="breadcrumb bg-light">
    <li class="breadcrumb-item"><a [routerLink]="['/post-storm-assessment', storm.id]">{{ storm.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Export</li>
  </ol>
</nav>
<div class="card">
  <div class="card-header">
      Post Storm Assessment Export
  </div>
  <div class="card-body">
    <div class="card-text">
      <div>
        You are exporting in the <i>{{ format }}</i> format.
        A download link will be generated here once the export is complete. However, you will also receive an email at <span class="text-info">{{ getUser().email }}</span> with the download link so you are free to leave this page.
      </div>
      <div class="position-relative">
        <ngx-loading [show]="isLoading"></ngx-loading>
        <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="!isComplete">
          <div class="form-group d-flex justify-content-end">
            <button class="btn btn-primary">Create Export</button>
          </div>
        </form>
        <div *ngIf="isComplete" class="my-2 d-flex justify-content-center">
          <div  class="alert alert-success">
            <h4>Export complete</h4>
            <div class="my-2 text-center">
              <a [href]="psaUserExport.url" target="_blank" class="btn btn-primary">Download <span class="oi oi-data-transfer-download"></span></a>
            </div>
            <div class="text-black-50">*Link expires {{ psaUserExport.date_expires | amCalendar }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
