@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";

#psa-container:fullscreen {
  /* necessary when entering full screen */
  background: white;
  overflow: scroll;
}

#map-container {
  height: 45vh;

}
.hover-tooltip {
  white-space: nowrap;
  min-height: 100px;
  font-size: 14px;
  &.high-confidence .confidence {
    border-bottom: 3px dotted green;
  }
}

.color-bar {

  font-size: .4rem;

  .color-bar-legend {
    width: 100%;
    height: 1.5em;
    margin: 1.5em 0 2em 0;
    display: flex;
    border: 1px solid black;

    .color-bar-color {
      flex-grow: 1;
      width: 10%;
      text-align: center;
    }

    .color-bar-value {
      position: relative;
      bottom: 1.6em;
    }
  }

  @include media-breakpoint-up(sm) {
    font-size: .6rem;

    .color-bar-value {
      bottom: 2.4em;
    }
  }

  @include media-breakpoint-up(md) {
    font-size: .6rem;

    .color-bar-value {
      bottom: 1.65em;
    }
  }
}

.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  width: 250px;
  height: 160px;

  @include media-breakpoint-up(sm) {
    width: 300px;
    height: 195px;
  }

  @include media-breakpoint-up(md) {
    width: 420px;
    height: 250px;
  }
  /*
  the values are smaller than you'd think here because
  map in the "large" breakpoint is actually pretty small because the
  left hand column for the controls is visible
  */
  @include media-breakpoint-up(lg) {
    width: 390px;
    height: 235px;
  }
  @include media-breakpoint-up(xl) {
    width: 640px;
    height: 360px;
  }
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  position: absolute;
  top: 2px;
  right: 8px;
}

.btn.fullscreen {
  transform: rotate(90deg);
}
