<div class="position-relative">

  <ngx-loading [show]="isLoading"></ngx-loading>
  <div class="card">
    <div class="card-header">
      <h1>Sandy</h1>
    </div>
    <div class="card-body">
      <div class="card-title">
        <h5>Delaware Bay</h5>
      </div>
      <div class="card-text">
        This is the DFLow FM simulation on Delaware Bay and River domain. Dflow was forced with GFS winds during the spinup period and with HWRF winds during
        the simulation. The computational domain covers Delaware River and Bay up to the mouth of the Bay.
      </div>
      <div class="row">

        <div class="col-lg-4 col-xl-3 mt-3">

          <!-- map controls -->
          <ngb-accordion #acc="ngbAccordion" activeIds="map-filters">
            <ngb-panel title="Map Filters" id="map-filters">
              <ng-template ngbPanelContent>
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" [formControl]="mapLayerWaterDepthInput" id="water_depth">
                    <label class="form-check-label" for="water_depth">
                      Water Depth
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" [formControl]="mapLayerWindInput" id="wind">
                    <label class="form-check-label" for="wind">
                      Wind
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label>Data Opacity</label>
                  <input type="number" step=".1" min=".1" max="1" [formControl]="dataOpacityInput" class="form-control form-control-sm">
                </div>
                <div class="form-group">
                  <label>Date: <small>{{ getDateInputFormatted(dateInputControl.value) }}</small></label>
                  <input type="range" [formControl]="dateInputControl" min="0" [max]="getDateInputMax()" class="w-100">
                </div>
                <div>
                  <small class="form-text text-muted">Start: {{ getDateMin() }}</small>
                </div>
                <div>
                  <small class="form-text text-muted">End: {{ getDateMax() }}</small>
                </div>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Base Maps">
              <ng-template ngbPanelContent>
                <div class="form-check" *ngFor="let option of mapLayerOptions">
                  <input class="form-check-input" type="radio" [formControl]="mapLayerInput" [value]="option.value" [id]="'base-map-'+option.value" name="base-map">
                  <label class="form-check-label" [for]="'base-map-'+option.value">
                    {{ option.name }}
                  </label>
                </div>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Get Data">
              <ng-template ngbPanelContent>
                <dl class="row">
                  <dt class="col-sm-6">OPeNDAP</dt>
                  <dd class="col-sm-6">
                    <a [href]="getDataUrl('html')" target="_blank">
                      <span class="oi oi-cloud-download"></span>
                    </a>
                  </dd>
                  <!-- TODO - openap timesout/crashes for large datasets
                  <dt class="col-sm-6">All Data</dt>
                  <dd class="col-sm-6">
                    <a target="_blank" class="d-block" [href]="getDataUrl('ascii')">ASCII</a>
                    <a target="_blank" class="d-block" [href]="getDataUrl('nc')">NetCDF</a>
                    <a target="_blank" class="d-block" [href]="getDataUrl('csv')">CSV</a>
                  </dd>
                  -->
                  <dt class="col-sm-6">Selected Data</dt>
                  <dd class="col-sm-6">
                    <i *ngIf="!extentCoords">(none selected)</i>
                    <!-- TODO - need grid dataset to use geogrid() feature -->
                    <a target="_blank" class="d-block" *ngIf="extentCoords" href="http://test.opendap.org/opendap/data/nc/sst.mnmean.nc.gz.ascii?geogrid(sst,62,206,56,210,%2219722%3Ctime%3C19755%22)">ASCII</a>
                    <a target="_blank" class="d-block" *ngIf="extentCoords" href="http://test.opendap.org/opendap/data/nc/sst.mnmean.nc.gz.nc?geogrid(sst,62,206,56,210,%2219722%3Ctime%3C19755%22)">NetCDF</a>
                    <a target="_blank" class="d-block" *ngIf="extentCoords" href="http://test.opendap.org/opendap/data/nc/sst.mnmean.nc.gz.csv?geogrid(sst,62,206,56,210,%2219722%3Ctime%3C19755%22)">CSV</a>
                  </dd>
                </dl>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>

        </div>

        <div class="col mt-3">

          <!-- map -->
          <div #map class="position-relative">
            <ngx-loading [show]="isLoadingMap"></ngx-loading>

            <div id="map-info" *ngIf="currentFeature && !extentCoords" [class.confident]="currentConfidence >= 90">
              <div>Water Depth: {{ currentFeature.title }} m ({{ currentConfidence }}% confidence)</div>
              <div *ngIf="currentFeature.speed >= 0">Wind Speed: {{ currentFeature.speed | number:'1.0-2' }} m/s ({{ currentConfidence }}% confidence)</div>
              <div *ngIf="currentFeature.direction">Wind Direction: {{ currentFeature.direction| number:'1.0-2' }} rad ({{ currentConfidence }}% confidence)</div>
            </div>

            <!-- overlay graph -->
            <div #popup class="ol-popup" [class.invisible]="!coordinateData && !isLoadingOverlayPopup">
              <ngx-loading [show]="isLoadingOverlayPopup"></ngx-loading>
              <div *ngIf="coordinateData">
                <button (click)="closeOverlayPopup()" class="btn btn-sm btn-light ol-popup-closer"><span class="oi oi-x"></span></button>
                <ngx-charts-line-chart [view]="[320, 170]" [results]="coordinateData" [autoScale]="true" [xAxisTickFormatting]="xAxisTickFormatting" [xAxis]="true" [yAxis]="true" [legend]="true" legendPosition="below" legendTitle=" "></ngx-charts-line-chart>
              </div>
            </div>

          </div>

          <div class="d-none d-md-block">
            <small class="d-block"><sup>1</sup>Click on a map feature to see a time series graph for a specific location</small>
            <div>
              <small><sup>2</sup>Hold <i>Shift</i> and drag to select a box to filter the data to download</small>
              <button class="btn btn-link btn-sm" *ngIf="hasExtentSelection()" (click)="resetExtentInteraction()"><span class="oi oi-x"></span> Reset selection</button>
            </div>
            <small class="d-block"><sup>3</sup>Hover to see feature information</small>
          </div>

          <div class="mt-3">
            <p>
							<button class="btn btn-outline-info btn-sm" (click)="openVideoModal(content, 'mesh2d_waterdepth')"><span class="oi oi-video"></span> Water Depth</button>
            </p>
            <p>
              <button class="btn btn-outline-info btn-sm" (click)="openVideoModal(content, 'wind')"><span class="oi oi-video"></span> Wind</button>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- video modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Time Series Video</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <video controls class="w-100">
        <source [src]="animationVideoURL(content.variable)" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </ng-template>

</div>
