#map-info {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  background: rgba(0,60,136,0.7);
  color: white;
  border: 0;
  transition: opacity 100ms ease-in;

}

#map-info.confident {
  background: rgba(6, 136, 5, 0.7);
}

.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
  min-height: 200px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  position: absolute;
  top: 2px;
  right: 8px;
}
