@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";

#map-info {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  background: rgba(0,60,136,0.7);
  color: white;
  border: 0;
}

#map-info.confident {
  background: rgba(6, 136, 5, 0.7);
}

.color-bar {
  width: 100%;
  margin: 2em 0 1em 0;
  display: flex;
  border: 1px solid black;
  height: 1.5em;

  .color-bar-color {
    flex-grow: 1;
    width: 10%;
    text-align: center;
  }

  .color-bar-value {
    position: relative;
    font-size: .4rem;
    bottom: 3.2em;
  }

  @include media-breakpoint-up(sm) {
    .color-bar-value {
      font-size: .6rem;
      bottom: 2.4em;
    }
  }

  @include media-breakpoint-up(md) {
    .color-bar-value {
      font-size: .8rem;
      bottom: 1.65em;
    }
  }
}

.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 170px;
  min-height: 100px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  position: absolute;
  top: 2px;
  right: 8px;
}
