<div class="position-relative" #psaContainer [style.overflow]="isFullscreen() ? 'scroll' : 'auto'">

  <ngx-loading [show]="isLoading"></ngx-loading>
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h1>{{ namedStorm.name }}</h1>
      <div class="d-flex justify-content-end">
        <a class="btn btn-light" (click)="toggleFullscreen(psaContainer)" placement="left" ngbTooltip="Toggle fullscreen">
          <span class="oi" [ngClass]="{'oi-fullscreen-enter': !isFullscreen(), 'oi-fullscreen-exit': isFullscreen()}"></span>
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="card-text">
        {{ namedStorm.description }}
      </div>
      <div class="row">

        <div class="col-lg-4 col-xl-3 mt-3">

          <!-- map controls -->
          <ngb-accordion #acc="ngbAccordion" activeIds="map-filters" [formGroup]="form" *ngIf="form">
            <ngb-panel title="Map Filters" id="map-filters">
              <ng-template ngbPanelContent>
                <div class="form-group" formGroupName="variables">
                  <div class="form-check" *ngFor="let psaVariable of psaVariables">
                    <input class="form-check-input" type="checkbox" [formControlName]="psaVariable.name" [id]="psaVariable.id">
                    <label class="form-check-label" [for]="psaVariable.id">
                      {{ getPsaVariableNameFormatted(psaVariable) }}
                    </label>
                    <span *ngIf="psaVariable.data_type == 'max-values'" class="badge badge-secondary ml-2"  placement="bottom" ngbTooltip="Display the maximum values across the duration of the storm">Max</span>
                  </div>
                </div>
                <div class="form-group">
                  <label>Data Opacity</label>
                  <input type="range" step=".1" min=".1" max="1" formControlName="opacity" class="w-100">
                </div>
                <!-- psaDates must be loaded or else the range slider won't initialize correctly -->
                <div class="form-group" *ngIf="psaDates.length">
                  <label>Date: <small>{{ getDateInputFormatted(form.get('date').value) }}</small></label>
                  <input type="range" step="1" min="0" [max]="getDateInputMax()" formControlName="date" class="w-100">
                </div>
                <div>
                  <small class="form-text text-muted">Start: {{ getDateMin() }}</small>
                </div>
                <div>
                  <small class="form-text text-muted">End: {{ getDateMax() }}</small>
                </div>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Legends">
              <ng-template ngbPanelContent>
                <div *ngFor="let variable of getColorBarVariables()">
                  <h6>{{ variable.name }}</h6>
                  <div class="d-flex justify-content-center color-bar">
                    <div class="color-bar-legend">
                      <div class="color-bar-color" *ngFor="let color_values of variable.color_bar" [style.background-color]="color_values[1]">
                        <span class="color-bar-value">{{ color_values[0] | number: '0.0-1' }}</span>
                      </div>
                    </div>
                    <span class="pl-1">({{ variable.units }})</span>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Base Maps">
              <ng-template ngbPanelContent>
                <div class="form-check" *ngFor="let option of mapLayerOptions">
                  <input class="form-check-input" type="radio" [formControl]="mapLayerInput" [value]="option.value" [id]="'base-map-'+option.value" name="base-map">
                  <label class="form-check-label" [for]="'base-map-'+option.value">
                    {{ option.name }}
                  </label>
                </div>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Get Data">
              <ng-template ngbPanelContent>
                <dl class="row">
                  <dt class="col-sm-6">OPeNDAP</dt>
                  <dd class="col-sm-6">
                    <a [href]="getDataUrl('html')" target="_blank">
                      <span class="oi oi-cloud-download"></span>
                    </a>
                  </dd>
                  <!-- TODO - openap timesout/crashes for large datasets
                  <dt class="col-sm-6">All Data</dt>
                  <dd class="col-sm-6">
                    <a target="_blank" class="d-block" [href]="getDataUrl('ascii')">ASCII</a>
                    <a target="_blank" class="d-block" [href]="getDataUrl('nc')">NetCDF</a>
                    <a target="_blank" class="d-block" [href]="getDataUrl('csv')">CSV</a>
                  </dd>
                  -->
                  <dt class="col-sm-6">Selected Data</dt>
                  <dd class="col-sm-6">
                    <i *ngIf="!extentCoords">(none selected)</i>
                    <!-- TODO - need grid dataset to use geogrid() feature -->
                    <a target="_blank" class="d-block" *ngIf="extentCoords" href="http://test.opendap.org/opendap/data/nc/sst.mnmean.nc.gz.ascii?geogrid(sst,62,206,56,210,%2219722%3Ctime%3C19755%22)">ASCII</a>
                    <a target="_blank" class="d-block" *ngIf="extentCoords" href="http://test.opendap.org/opendap/data/nc/sst.mnmean.nc.gz.nc?geogrid(sst,62,206,56,210,%2219722%3Ctime%3C19755%22)">NetCDF</a>
                    <a target="_blank" class="d-block" *ngIf="extentCoords" href="http://test.opendap.org/opendap/data/nc/sst.mnmean.nc.gz.csv?geogrid(sst,62,206,56,210,%2219722%3Ctime%3C19755%22)">CSV</a>
                  </dd>
                </dl>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>

        </div>

        <div class="col mt-3">

          <!-- map -->
          <div #map class="position-relative" id="map-container">
            <ngx-loading [show]="isLoadingMap"></ngx-loading>

            <!-- feature info -->
            <div id="map-info" *ngIf="currentFeature && !extentCoords && !isOverlayVisible()" [class.confident]="currentConfidence >= 90">
              <div *ngFor="let feature of currentFeature | keyvalue">
                <!-- manually display coordinate value at bottom -->
                <span *ngIf="feature.key !== 'coordinate'">{{ feature.key }}: {{ feature.value }} ({{ currentConfidence }}% accuracy)</span>
              </div>
              <div><hr></div>
              <div><small><em>{{ currentFeature.coordinate }}</em></small></div>
            </div>

            <!-- overlay graph -->
            <div #popup class="ol-popup" [class.invisible]="!isOverlayVisible()">

              <ngx-loading [show]="isLoadingOverlayPopup"></ngx-loading>

              <!-- no relevant variables are selected -->
              <div *ngIf="!hasTimeSeriesVariablesDisplayed()">
                <button (click)="closeOverlayPopup()" class="btn btn-sm btn-light ol-popup-closer"><span class="oi oi-x"></span></button>
                <div class="mt-4">
                  <div class="text-info"><small>Please enable one of the following variables for a time series graph:</small></div>
                  <ul>
                    <li *ngFor="let variable of timeSeriesVariables()"><small>{{ variable.name }}</small></li>
                  </ul>
                </div>
              </div>

              <!-- time-series graph -->
              <div *ngIf="hasTimeSeriesVariablesDisplayed() && lineChartData.length">
                <button (click)="closeOverlayPopup()" class="btn btn-sm btn-light ol-popup-closer"><span class="oi oi-x"></span></button>
                <canvas baseChart
                        [datasets]="lineChartData"
                        [labels]="psaDatesFormatted"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        chartType="line"
                >
                </canvas>
                <div class="d-flex justify-content-end">
                  <a class="btn btn-sm btn-info" [href]="lineChartExportURL" target="_blank">csv <span class="oi oi-data-transfer-download"></span></a>
                </div>
              </div>
            </div>

          </div>

          <!-- instructions -->
          <div class="d-none d-md-block">
            <small class="d-block"><sup>1</sup>Click on a map feature to see a time series graph for a specific location</small>
            <div>
              <small><sup>2</sup>Hold <i>Shift</i> and drag to select a box to filter the data to download</small>
              <button class="btn btn-link btn-sm" *ngIf="hasExtentSelection()" (click)="resetExtentInteraction()"><span class="oi oi-x"></span> Reset selection</button>
            </div>
            <small class="d-block"><sup>3</sup>Hover to see feature information</small>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>
