<div class="jumbotron">
  <h1 class="display-4">Tutorials</h1>
  <p class="lead">Videos and presentations for CWWED</p>
  <hr class="my-4">
  <p>
    Coastal Act Documents
  </p>
  <div>
    <ul class="list-unstyled text-small">
      <li><a href="https://drive.google.com/file/d/1JZlUcoul1zXZhTObW1ePUvO_8mlk2Po-/view?usp=sharing" target="_blank">Coastal Act PDF</a></li>
      <li><a href="https://drive.google.com/file/d/1fA3p0HaY3yLwr3zF_BDeBN8yOurICg8b/view?usp=sharing" target="_blank">Coastal Act Protocol PDF</a></li>
      <li><a href="https://docs.google.com/presentation/d/1ZYbzeeZ9zHt3JD1exkJ5TX0GV6IPbzCJ/edit#slide=id.p1" target="_blank">Coastal Act Discussion Slide Presentation</a></li>
    </ul>
  </div>
  <p>
    Coastal Act and CWWED Information and Presentations
  </p>
  <div>
    <ul class="list-unstyled text-small">
      <li><a href="https://drive.google.com/file/d/1TOxmbVXwcYj5pBuy9IwEsTJNwa6On4pg/view?usp=sharing" target="_blank">CWWED One Page PDF</a></li>
      <li><a href="https://docs.google.com/presentation/d/1Gym_UwWWryYC9PZm39C6x7KgLjSywpbo/edit#slide=id.p1" target="_blank">CWWED Briefing Slide Presentation</a></li>
    </ul>
  </div>
  <p>
    CWWED Tutorials
  </p>
  <div>
    <ul class="list-unstyled text-small">
      <li><a href="https://www.youtube.com/watch?v=saelbcxwef8&authuser=0">CWWED YouTube</a></li>
      <li><a href="https://drive.google.com/file/d/19yFSvUcspyoVD-lfaqPaU0-nL1qqTGXP/view?usp=sharing">CWWED AMS Demo Video Presentation</a></li>
      <li><a href="https://drive.google.com/file/d/1OPHQ4imNK6FoXUUqeTjKee0m-97iFDn9/view?usp=sharing">CWWED Demo Website</a></li>
    </ul>
  </div>
  <p>
    Coastal Act and CWWED Related Publications
  </p>
  <div>
    <ul class="list-unstyled text-small">
      <li><a href="https://drive.google.com/file/d/1y6efSDXqHpgJV7opPNmquCLBwQafnb5Y/view?usp=sharing" target="_blank"> Continuously Updated Digital Elevation Models (CUDEMs) PDF</a></li>
    </ul>
  </div>
</div>
