<div class="jumbotron">
  <h1 class="display-4">Tutorials</h1>
  <p class="lead">Videos and presentations for CWWED</p>
  <hr class="my-4">
  <p>
    Please select a Slideshow, Youtube, or PDF presentations
  </p>
  <div>
    <ul class="list-unstyled text-small">
      <li><a href="https://drive.google.com/file/d/1TOxmbVXwcYj5pBuy9IwEsTJNwa6On4pg/view?usp=drive_link" target="_blank">CWWED Overview PDF</a></li>
      <li><a href="https://drive.google.com/file/d/19yFSvUcspyoVD-lfaqPaU0-nL1qqTGXP/view?usp=drive_link">CWWED Demo</a></li>
      <li><a href="https://www.youtube.com/watch?v=saelbcxwef8&authuser=0">CWWED YouTube</a></li>
    </ul>
  </div>
</div>
