<div class="jumbotron">
  <h1 class="display-4">Tutorials</h1>
  <p class="lead">Videos and presentations for CWWED</p>
  <hr class="my-4">
  <p>
    Please select a Slideshow, Youtube, or PDF presentations
  </p>
  <div>
    <ul class="list-unstyled text-small">
      <li><a href="https://mail.google.com/mail/u/0?ui=2&ik=225e72950b&attid=0.1&permmsgid=msg-f:1767966090280042982&th=188913cac21401e6&view=att&disp=inline&realattid=f_li0bezyt0">CWWED Overview PDF</a></li>
      <li><a href="https://drive.google.com/file/d/1UhPc267LFQU0xCl-kEdtJwRe9GWnDLez/view?usp=gmail">CWWED Demo</a></li>
      <li><a href="https://www.youtube.com/watch?v=saelbcxwef8&authuser=0">CWWED YouTube</a></li>
    </ul>
  </div>
</div>
