<div class="container">
  <div class="row">
    <div class="col-md-4">
      <nav class="navbar navbar-expand-md navbar-light">
        <button class="navbar-toggler btn btn-block" type="button" (click)="toggleNavCollapse()" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-list"></span>
          Projects
        </button>
        <div class="collapse navbar-collapse" [ngbCollapse]="!isNavCollapsed">
          <ul class="navbar-nav flex-column">
            <a class="nav-link" *ngFor="let project of coastalActProjects" (click)="navCollapse()" [routerLink]="[project.id]" routerLinkActive="active">{{ project.name }}</a>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-sm">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
