{% extends "account/base.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static 'coastal_act/login.css' %}">
	{% include 'google-analytics.html' %}
{% endblock extra_head %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

	{% get_providers as socialaccount_providers %}

	<div class="row">

		<form class="form-signin col-12 col-md-8 offset-md-3" method="POST" action="{% url 'account_login' %}">
			{% csrf_token %}

			<!-- TODO - third party auth providers
			{% if socialaccount_providers %}
				<p>Sign in with one of your existing third party accounts</p>
				<div class="socialaccount_ballot">
					<ul class="socialaccount_providers">
						{% include "socialaccount/snippets/provider_list.html" with process="login" %}
					</ul>
					<div class="login-or">{% trans 'or' %}</div>
				</div>
				{% include "socialaccount/snippets/login_extra.html" %}
			{% endif %}
			-->

			<h1 class="h3 mb-3 font-weight-normal">Sign In</h1>

			{{ form | crispy }}

			<button class="btn btn-lg btn-primary" type="submit">Sign in</button>
			<a class="btn btn-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

			<div class="d-flex justify-content-center align-items-center mt-5">
				<h6>Need to register?</h6> <a class="ml-3 btn btn-link btn-lg btn-success" href="{% url 'account_signup' %}">Create an account</a>
			</div>

			{% if redirect_field_value %}
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			{% endif %}

		</form>
	</div>

{% endblock %}
